[Unit]
Description = todo Service
[Service]

Environment=REDIS_HOST=172.31.54.250
ExecStart=/bin/node /home/ubuntu/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target