[Unit]
Description =login Service
[Service]

Environment=AUTH_API_PORT=8080
Environment=USERS_API_ADDRESS=http://172.31.72.72:8080
ExecStart=--no-warnings /home/ubuntu/login
spring.main.banner-mode=off
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target